.calculator {
    padding: 1rem;
    height: 31rem;
    width: 17.7rem;
    border-radius: 1rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;
    box-shadow: 7px 10px 11px 0px rgba(50, 50, 50, 0.8), -10px -6px 20px -2px #FFF;
}